[messages control]

disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,

    broad-except,
    duplicate-code,
    import-error,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    logging-not-lazy,
    no-else-return,
    redefined-builtin,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    unused-argument,

